{% extends 'whatsapp/base.html' %}
{% block content %}
<h2>Bots</h2>
<a href="{% url 'bot_create' %}" class="btn btn-primary mb-2">Criar Bot</a>
  {% if messages %}
      {% for message in messages %}
          <div id="message-alert" class="alert alert-{{ message.tags }} mt-3">
              {{ message }}
          </div>
      {% endfor %}
  {% endif %}

  <script>
    setTimeout(function() {
        const alert = document.getElementById('message-alert');
        if (alert) {
            alert.style.transition = "opacity 0.5s";
            alert.style.opacity = "0";
            setTimeout(() => alert.remove(), 500); // remove do DOM após o fade
        }
    }, 3000);
</script>


<table class="table table-striped">
  <tr><th>Nome</th><th>Telefone</th><th>Ações</th><th>Editar</th></tr>
  {% for bot in bots %}
  <tr>
    <td>{{ bot.name }}</td>
    <td>{{ bot.phone_number }}</td>
    <td><a href="{% url 'bot_detail' bot.pk %}" class="btn btn-sm btn-info">Detalhes</a></td>
    <td><a href="{% url 'bot_update' bot.pk %}" class="btn btn-sm btn-warning">Editar</a></td>

  </tr>
  {% endfor %}
</table>
{% endblock %}
